/* 셀렉터 연습 */
/* 
가상클래스
:hover,
:visited,
:focus,
:active
[]- 태그의 속성 선택할 때 사용
ex)
img[alt="로고"]{}
img[titleZ]{}
img[src*="a.jpg"]{}-> a.jpg가 속한 것을 다 보여줌
img[src*="a.jpg"]{}->검색의 시작
img[src$="a.jpg"]{}
a[target]{}
input[type="button"]{}

first-child / 무조건 첫번째 요소 선택
first-of-type 
last-child - 마지막 번째 요소 선택
last-of-type
*/
div,p{
    border:1px solid #222;
    padding:50px;
  }
  div:first-child{
    background-color:lightskyblue;  
  }
  p:first-of-type{/* p요소 중에 첫번째 것만 선택 */
    background-color:lightcoral;
  }
  
  div:last-child{
    background-color:lightyellow;
  }
  div:last-of-type{
    background-color:lightgrey;
  }
  
  ul::after{/* 가상요소로 float 해제 - ul, li에 가상 요소는 들어갈 수 있음 */
    content:"";
    display:block;
    clear:both;
  }
  li{
  
    float:left;
    width:100px;
    height:100px;
    padding:20px;
    border:1px solid #222;
  }
  
  li:nth-child(3n+1){
    clear:both;
  }
  /* 
  0 + 1 = 1
  1 + 3 = 4
  4 + 3 = 7
  7 + 3 = 10
  */
  
  li.clear{
    width:100px;
    height:100px;
  }
  
  /*  
  nth 선택자
  :nth-child(n) - 모든 요소 기준으로 N번째
  div:nth-of-type(n) - div 중 N번째 선택
  */
  div:nth-of-type(1){
    padding:100px;
  }
  
  /* 
  가상 요소 
  ::before{}
  ::after{}
  */
  section{
    width:300px;
    height:300px;
    margin:0 auto;
    border:2px solid #000;
  }
  section::before{
    content:"전";/* 텍스트를 쓰면 표시됨 / 자식 요소로 무조건 첫번째 삽입*/
    display:inline-block;
  
  }
  section::after{
    content:"후"; /* 빈요소 - 인라인요소 / 자식 요소로 무조건 마지막 삽입*/
    display:inline-block;
  
  }
  section label{
    display:inline-block;
    position:relative;
    margin:0 10px;
  
  }
  section label span{
    display:inline-block;
    width:28px;
    height:28px;
    padding-left:32px;
    line-height:28px;
    background:url(../image/ico_s1_off.png) no-repeat 0% 50%;
    background-size:28px 28px;
    
  }
  
  section label:nth-of-type(2) span{
    background-image:url(../image/ico_s2_off.png);
  }
  
  /* section label + label span{
    background-image:url(../image/ico_s2_off.png);
  } */
  
  section label input{
    position:absolute;
    z-index:-1;
  }
  
  /* checked 되었을 때 이미지 바꾸기 */
  section label input:checked + span{
    background-image:url(../image/ico_s1_on.png);
    color:red;
  }
  section label:nth-of-type(2) input:checked + span{
    background-image:url(../image/ico_s2_on.png);
  }
 
  /* 
  float 해제 시키는 방법
  1. 마크업 맨 마지막 요소로 빈 요소 삽입해서 class="clear" 
  2. float 사용된 자식의 부모 요소에 overflow 속성 사용
  3. float 사용된 자식의 부모 요소에 가상 요소 활용한 ::after 활용하여 css로 clear:both 시키는 방법
  ex) 
  ul
    li
  ul::after{
    content:"";
    clear:both;
    display:block;
  }
  li{float:left}
  ** 모든 아이콘폰트는 가상 요소가 들어가있음 / 중요한 정보는 가상 요소에 넣으면 안됨(접근성) 
  */
  
  .ul>li{
    background-color:#dada;/* >는 직계 자식 요소만 선택 */
  }
  ul+section{
    background-color:lightsteelblue;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity / 참고 */